In [1]:
# plots
%matplotlib inline

import matplotlib.pyplot as plt
from pylab import rcParams
import math
rcParams['figure.figsize'] = 15, 8

import math
import scipy


# Pandas
import pandas as pd
from pandas import DataFrame

# math api
import numpy as np

# time lib
import time
import datetime as dt

NOW = dt.datetime.now()


import seaborn as sns
sns.set()

In [2]:
flat_data = pd.read_csv("../ressources/data/financial_sells_1000000.csv")
flat_data = flat_data.fillna(0).replace('-', np.NaN)
flat_data = flat_data.drop(columns=['Unnamed: 0'])
flat_data.head()

,dates,company_name,company_id,NBI,product_name,sector_name,country
0,2019-06-18,Dominguez-Thomas,0,97.014857,Liquidity Management,Construction Industry,France
1,2019-02-12,Johnson Group,1,81.193433,Credit,Construction Industry,Espagne
2,2016-09-14,Gray-Lane,2,35.777109,Loans syndication,Food Industry,United Kinkdom
3,2015-01-27,Cabrera-Collins,3,79.123596,Equity,Construction Industry,United State
4,2016-05-23,Dominguez-Thomas,0,30.014338,Credit,Automotive,France

In [10]:
dict_combinaison = dict()

for sector in flat_data['sector_name'].unique():
    for country in flat_data['country'].unique():
        if ( (sector, country) in dict_combinaison ):
            continue
        dict_combinaison[ (sector, country) ] = 0
        
#flat_data.query('country == "France" and sector_name == "Construction Industry"')['company_id'].nunique()

In [11]:
def apply_cross_selling(_df):
    # count all unique clients
    count_distinct_customers = _df['company_name'].nunique()

    result_cross_selling = dict()

    # for each item, compare with otel items
    for product_1 in _df['product_name'].unique(): 
        
        print( product_1 )
        
        #count all users who bougth this item1
        query_product_1 = "product_name == '{0}'".format(product_1)
        result_query_1 = _df.query(query_product_1)


        for product_2 in _df['product_name'].unique():
            dict_key1 = (product_2, product_1)
            dict_key2 = (product_1, product_2)
            score = 0

            if ( dict_key1 in result_cross_selling ):
                #print('already exists', end=' - ')
                continue

            #count all users who bougth this item1
            query_product_2 = "product_name == '{0}'".format(product_2)
            result_query_2 = _df.query(query_product_2)

            list_customer_product_1 = set( result_query_1['company_name'].unique() )
            list_customer_product_2 = set( result_query_2['company_name'].unique() )
            common_customers = list_customer_product_1.intersection(list_customer_product_2)

            score = len( common_customers ) / count_distinct_customers

            

            result_cross_selling[ dict_key1 ] = score
            result_cross_selling[ dict_key2 ] = score
            

apply_cross_selling(flat_data)

Liquidity Management
Credit
Loans syndication
Equity
Custody Services
Export Finance
Asset Servicing
ALD Car Renting and Fleet Management
Mergers and Acquisition
International Retail Banking
Commodity Financing
Asset Based Financing
Asset Management
Fund Distribution Services
Prime & Clearing
Life and Dammage insurance
Clearing Services
Commodities
Leverage Finance
Fund Administration
MCIB Financing
Issuer Services
General Purpose Financing
Hybrids
Others
Financing
Forex