In [228]:
# Pandas
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from pandas import DataFrame, pivot_table



import datetime as dt
from faker import Faker
fake = Faker()

import numpy as np
import random

In [234]:
 def generate_random_array(n, _fct):
    array = []
    for i in range(n):
        array.append( _fct() )
        
    return pd.Series(array)


 def shake_inputs(n, data):
    array = []
    
    for i in range(n):
        random_pos = np.random.normal(50, 10) 
        random_pos = int( random_pos ) 
    
        array.append( data[ random_pos ] )
        
    return pd.Series(array)

 
countries = ['France', 'Espagne', 'United Kinkdom', 'United State', 'Italy', 'Corse', 'Suisse']
sectors = ['Automotive', 'Electrical industry', 'Chemical Industry', 'Energy industry', 'Metallurgical industry']
product_names = ['ALD Car Renting and Fleet Management',  'Asset Based Financing',  'Asset Management',  'Asset Servicing',  'Clearing Services',  'Commodities',  'Commodity Financing',  'Credit',  'Custody Services',  'Equity',  'Export Finance',  'Financing',  'Forex',  'Fund Administration',  'Fund Distribution Services',  'General Purpose Financing',  'Hybrids',  'International Retail Banking',  'Issuer Services',  'Leverage Finance',  'Life and Dammage insurance',  'Liquidity Management',  'Loans syndication',  'MCIB Financing',  'Mergers and Acquisition',  'Others',  'Prime & Clearing']
companies_100 = ['Apple', 'Microsoft', 'Amazon.com', 'Alphabet', 'Berkshire Hathaway', 'Facebook', 'Alibaba', 'Tencent Holdings', 'JPMorgan Chase', 'Johnson & Johnson', 'Visa', 'ExxonMobil', 'ICBC', 'Walmart', 'Bank of America', 'Nestle', 'Samsung Electronics', 'Procter & Gamble', 'Royal Dutch Shell', 'Intel', 'Cisco Systems', 'Mastercard', 'Verizon Communications', 'Walt Disney', 'AT&T', 'Chevron', 'Home Depot', 'China Construction Bank', 'Nike', 'Taiwan Semiconductor', 'Roche Holding', 'Ping An Insurance Group', 'Pfizer', 'Wells Fargo', 'Boeing', 'UnitedHealth Group', 'Coca-Cola', 'PetroChina', 'China Mobile', 'Agricultural Bank of China', 'Comcast', 'Merck & Co.', 'Oracle', 'PepsiCo', 'Kweichow Moutai', 'Toyota Motor', 'Novartis', 'HSBC Holdings', 'Citigroup', 'Netflix', 'Unilever', "L'Or√©al Group", 'BP', 'Total', "McDonald's", 'Bank of China', 'BHP Billiton', 'SAP', 'Adobe Systems', 'Philip Morris International', 'China Merchants Bank', 'Abbott Laboratories', 'Reliance Industries', 'Broadcom', '3M', 'PayPal', 'Union Pacific', 'IBM', 'Honeywell International', 'AIA Group', 'Salesforce.com', 'Eli Lilly', 'United Technologies', 'Novo Nordisk', 'Tata Consultancy Services', 'Royal Bank of Canada', 'AbbVie', 'China Life Insurance', 'Accenture', 'NVIDIA', 'Medtronic', 'Softbank', 'Naspers', 'Amgen', 'Texas Instruments', 'Costco Wholesale', 'Sinopec', 'AIRBUS', 'Thermo Fisher Scientific', 'TD Bank Group', 'Allianz', 'Sanofi', 'Altria Group', 'Rio Tinto', 'Saudi Basic Industries', 'AstraZeneca', 'United Parcel Service', 'Linde', 'Inditex', 'Anheuser-Busch InBev']
companies_50 = ["Apple", "Microsoft", "Amazon.com", "Alphabet", "Berkshire Hathaway", "Facebook", "Alibaba", "Tencent Holdings", "JPMorgan Chase", "Johnson & Johnson", "Visa", "ExxonMobil", "ICBC", "Walmart", "Bank of America", "Nestle", "Samsung Electronics", "Procter & Gamble", "Royal Dutch Shell", "Intel", "Cisco Systems", "Mastercard", "Verizon Communications", "Walt Disney", "AT&T", "Chevron", "Home Depot", "China Construction Bank", "Nike", "Taiwan Semiconductor", "Roche Holding", "Ping An Insurance Group", "Pfizer", "Wells Fargo", "Boeing", "UnitedHealth Group", "Coca-Cola", "PetroChina", "China Mobile", "Agricultural Bank of China", "Comcast", "Merck & Co.", "Oracle", "PepsiCo", "Kweichow Moutai", "Toyota Motor", "Novartis", "HSBC Holdings", "Citigroup", "Netflix"]






rnd_count = 100000
flat_data = pd.DataFrame()


flat_data['company_name'] = np.random.choice(companies_50, rnd_count)
flat_data['company_id'] = pd.factorize(flat_data['company_name'])[0] + 1



flat_data['country'] = flat_data['company_id'].apply(lambda x: countries[x % len(countries)])
flat_data['sector_name'] = flat_data['company_id'].apply(lambda x: sectors[x % len(sectors)])
flat_data['order_id'] = range(1, len(flat_data)+1)


def generate_revenus(x):
    count_rnd_products = int(np.random.normal(5, 0.5))
    random_products = np.random.choice(product_names, count_rnd_products)
    
    x['product_name'] = np.random.choice(random_products, len(x))
    x['NBI'] = np.random.normal(50, 40, size=len(x))
    
    _start_date = '-{}y'.format(random.randint(1, 5))
    
    x['order_date'] = [ fake.date_between(start_date=_start_date, end_date="today" ) for x in range(len(x))]
    
    return x

flat_data = flat_data.groupby('sector_name').apply(generate_revenus)
flat_data.query("country == 'Espagne'").head(2)

                 company_name  company_id  country          sector_name  order_id                          product_name        NBI  order_date
0                        ICBC           1  Espagne  Electrical industry         1          International Retail Banking  -0.499521  2019-05-29
9  Agricultural Bank of China           8  Espagne      Energy industry        10  ALD Car Renting and Fleet Management  78.329945  2018-11-20

In [235]:
# add anormal behavior

# group data in order to take a sample
grouped_data = flat_data  \
    .groupby(['country', 'sector_name', 'company_name']) \
    .agg('product_name') \
    .unique() \
    .reset_index()
grouped_data['product_name'] = grouped_data['product_name'].apply(lambda x: x[0])

#take sample
anomal_companies = grouped_data.sample(random.randint(5, 20))

In [236]:
filted_data = flat_data
for index, company  in anomal_companies.iterrows():
    _company = company['company_name']
    _country = company['country']
    _sector = company['sector_name']
    _product = company['product_name']
    
    query_filter = ' not (company_name == "{0}"  and country == "{1}" and sector_name == "{2}" and product_name == "{3}") '.format(_company, _country, _sector, _product)
    filted_data = filted_data.query(query_filter)
    
    print(query_filter)

 not (company_name == "Berkshire Hathaway"  and country == "United Kinkdom" and sector_name == "Chemical Industry" and product_name == "Issuer Services")
 not (company_name == "Comcast"  and country == "France" and sector_name == "Chemical Industry" and product_name == "Loans syndication")
 not (company_name == "Alphabet"  and country == "Italy" and sector_name == "Electrical industry" and product_name == "Life and Dammage insurance")
 not (company_name == "China Construction Bank"  and country == "United State" and sector_name == "Metallurgical industry" and product_name == "Export Finance")
 not (company_name == "Ping An Insurance Group"  and country == "Suisse" and sector_name == "Energy industry" and product_name == "Financing")
 not (company_name == "Nestle"  and country == "Italy" and sector_name == "Electrical industry" and product_name == "Leverage Finance")
 not (company_name == "PetroChina"  and country == "Italy" and sector_name == "Automotive" and product_name == "Asset Servicing")
 not (company_name == "Tencent Holdings"  and country == "United Kinkdom" and sector_name == "Electrical industry" and product_name == "Leverage Finance")
 not (company_name == "JPMorgan Chase"  and country == "Corse" and sector_name == "Electrical industry" and product_name == "Life and Dammage insurance")
 not (company_name == "Mastercard"  and country == "Corse" and sector_name == "Chemical Industry" and product_name == "Financing")
 not (company_name == "Intel"  and country == "France" and sector_name == "Electrical industry" and product_name == "International Retail Banking")
 not (company_name == "UnitedHealth Group"  and country == "France" and sector_name == "Metallurgical industry" and product_name == "Export Finance")
 not (company_name == "Apple"  and country == "Suisse" and sector_name == "Automotive" and product_name == "Commodities")
 not (company_name == "Roche Holding"  and country == "France" and sector_name == "Chemical Industry" and product_name == "General Purpose Financing")
 not (company_name == "ExxonMobil"  and country == "Suisse" and sector_name == "Energy industry" and product_name == "ALD Car Renting and Fleet Management")
 not (company_name == "HSBC Holdings"  and country == "United Kinkdom" and sector_name == "Chemical Industry" and product_name == "International Retail Banking")
 not (company_name == "Kweichow Moutai"  and country == "Corse" and sector_name == "Automotive" and product_name == "Asset Management")
 not (company_name == "Microsoft"  and country == "United Kinkdom" and sector_name == "Energy industry" and product_name == "Asset Management")

In [237]:
filted_data.to_csv('../ressources/data/financial_sells_{0}.csv'.format(rnd_count))

In [222]:
#flat_data.groupby('company_name').agg('NBI').sum().sort_values().plot.bar()

In [233]:
#grouped_data = filted_data  \
#    .groupby(['country', 'sector_name', 'company_name']) \
#    .agg('product_name') \
#    .unique() \
#    .reset_index()
#grouped_data['product_name'] = grouped_data['product_name'].apply(lambda x: x[0])
#grouped_data.head(100000)