In [2]:
# Pandas
import pandas as pd
from pandas import DataFrame, pivot_table

import datetime as dt
from faker import Faker
fake = Faker()

import numpy as np
import random

In [61]:
 def generate_random_array(n, _fct):
    array = []
    for i in range(n):
        array.append( _fct() )
        
    return pd.Series(array)


 def shake_inputs(n, data):
    array = []
    
    for i in range(n):
        random_pos = np.random.normal(50, 10) 
        random_pos = int( random_pos ) 
    
        array.append( data[ random_pos ] )
        
    return pd.Series(array)

 
countries = ['France', 'Espagne', 'United Kinkdom', 'United State', 'Italy']
sectors = ['Automotive', 'Electrical industry', 'Chemical Industry', 'Energy industry', 'Metallurgical industry']
product_names = ['ALD Car Renting and Fleet Management',  'Asset Based Financing',  'Asset Management',  'Asset Servicing',  'Clearing Services',  'Commodities',  'Commodity Financing',  'Credit',  'Custody Services',  'Equity',  'Export Finance',  'Financing',  'Forex',  'Fund Administration',  'Fund Distribution Services',  'General Purpose Financing',  'Hybrids',  'International Retail Banking',  'Issuer Services',  'Leverage Finance',  'Life and Dammage insurance',  'Liquidity Management',  'Loans syndication',  'MCIB Financing',  'Mergers and Acquisition',  'Others',  'Prime & Clearing']

generate_date = lambda : fake.date_between(start_date="-5y", end_date="today")
generate_company = lambda : fake.company()
generate_revenus = lambda : np.random.normal(50, 28)
generate_product = lambda: product_names[ random.randint(0, len(product_names) -1) ]
generate_sector = lambda: sectors[ random.randint(0, len(sectors) -1) ]
 
    

rnd_count = 1000
flat_data = pd.DataFrame()

rnd_companies = generate_random_array(100, generate_company).unique()
flat_data['company_name'] = shake_inputs(rnd_count, rnd_companies)
flat_data['company_id'] = pd.factorize(flat_data['company_name'])[0] + 1



flat_data['country'] = flat_data['company_id'].apply(lambda x: countries[x % len(countries)])
flat_data['sector_name'] = flat_data['company_id'].apply(lambda x: sectors[x % len(sectors)])

print(  )

for sector in sectors:
    print(sector)

#flat_data['dates'] = generate_random_array(rnd_count, generate_date)





#flat_data['company_id'] = pd.factorize(flat_data['company_name'])[0]
#flat_data['NBI'] = generate_random_array(rnd_count, generate_revenus)
#flat_data['product_name'] = generate_random_array(rnd_count, generate_product) 


flat_data.groupby('sector_name').apply(lambda x: x.sample(1))

#np.random.choice(product_names, 5)

Automotive
Electrical industry
Chemical Industry
Energy industry
Metallurgical industry

,,company_name,company_id,country,sector_name
sector_name,,,,,
Automotive,867,Johnson-Reeves,20,France,Automotive
Chemical Industry,460,"Myers, Snyder and Campbell",22,United Kinkdom,Chemical Industry
Electrical industry,187,Jackson Inc,41,Espagne,Electrical industry
Energy industry,312,Allen-Roberts,8,United State,Energy industry
Metallurgical industry,107,Wilson-Berger,29,Italy,Metallurgical industry

In [4]:
len(flat_data)

1000

In [16]:
flat_data.to_csv('../ressources/data/financial_sells_{0}.csv'.format(rnd_count))

In [4]:
flat_data.groupby('company_name').agg('NBI').sum().sort_values().plot.bar()