In [2]:
# Pandas
import pandas as pd
from pandas import DataFrame, pivot_table



import datetime as dt
from faker import Faker
fake = Faker()

import numpy as np
import random

In [215]:
 def generate_random_array(n, _fct):
    array = []
    for i in range(n):
        array.append( _fct() )
        
    return pd.Series(array)


 def shake_inputs(n, data):
    array = []
    
    for i in range(n):
        random_pos = np.random.normal(50, 10) 
        random_pos = int( random_pos ) 
    
        array.append( data[ random_pos ] )
        
    return pd.Series(array)

 
countries = ['France', 'Espagne', 'United Kinkdom', 'United State', 'Italy', 'Corse', 'Suisse']
sectors = ['Automotive', 'Electrical industry', 'Chemical Industry', 'Energy industry', 'Metallurgical industry']
product_names = ['ALD Car Renting and Fleet Management',  'Asset Based Financing',  'Asset Management',  'Asset Servicing',  'Clearing Services',  'Commodities',  'Commodity Financing',  'Credit',  'Custody Services',  'Equity',  'Export Finance',  'Financing',  'Forex',  'Fund Administration',  'Fund Distribution Services',  'General Purpose Financing',  'Hybrids',  'International Retail Banking',  'Issuer Services',  'Leverage Finance',  'Life and Dammage insurance',  'Liquidity Management',  'Loans syndication',  'MCIB Financing',  'Mergers and Acquisition',  'Others',  'Prime & Clearing']
companies_100 = ['Apple', 'Microsoft', 'Amazon.com', 'Alphabet', 'Berkshire Hathaway', 'Facebook', 'Alibaba', 'Tencent Holdings', 'JPMorgan Chase', 'Johnson & Johnson', 'Visa', 'ExxonMobil', 'ICBC', 'Walmart', 'Bank of America', 'Nestle', 'Samsung Electronics', 'Procter & Gamble', 'Royal Dutch Shell', 'Intel', 'Cisco Systems', 'Mastercard', 'Verizon Communications', 'Walt Disney', 'AT&T', 'Chevron', 'Home Depot', 'China Construction Bank', 'Nike', 'Taiwan Semiconductor', 'Roche Holding', 'Ping An Insurance Group', 'Pfizer', 'Wells Fargo', 'Boeing', 'UnitedHealth Group', 'Coca-Cola', 'PetroChina', 'China Mobile', 'Agricultural Bank of China', 'Comcast', 'Merck & Co.', 'Oracle', 'PepsiCo', 'Kweichow Moutai', 'Toyota Motor', 'Novartis', 'HSBC Holdings', 'Citigroup', 'Netflix', 'Unilever', "L'Or√©al Group", 'BP', 'Total', "McDonald's", 'Bank of China', 'BHP Billiton', 'SAP', 'Adobe Systems', 'Philip Morris International', 'China Merchants Bank', 'Abbott Laboratories', 'Reliance Industries', 'Broadcom', '3M', 'PayPal', 'Union Pacific', 'IBM', 'Honeywell International', 'AIA Group', 'Salesforce.com', 'Eli Lilly', 'United Technologies', 'Novo Nordisk', 'Tata Consultancy Services', 'Royal Bank of Canada', 'AbbVie', 'China Life Insurance', 'Accenture', 'NVIDIA', 'Medtronic', 'Softbank', 'Naspers', 'Amgen', 'Texas Instruments', 'Costco Wholesale', 'Sinopec', 'AIRBUS', 'Thermo Fisher Scientific', 'TD Bank Group', 'Allianz', 'Sanofi', 'Altria Group', 'Rio Tinto', 'Saudi Basic Industries', 'AstraZeneca', 'United Parcel Service', 'Linde', 'Inditex', 'Anheuser-Busch InBev']
companies_50 = ["Apple", "Microsoft", "Amazon.com", "Alphabet", "Berkshire Hathaway", "Facebook", "Alibaba", "Tencent Holdings", "JPMorgan Chase", "Johnson & Johnson", "Visa", "ExxonMobil", "ICBC", "Walmart", "Bank of America", "Nestle", "Samsung Electronics", "Procter & Gamble", "Royal Dutch Shell", "Intel", "Cisco Systems", "Mastercard", "Verizon Communications", "Walt Disney", "AT&T", "Chevron", "Home Depot", "China Construction Bank", "Nike", "Taiwan Semiconductor", "Roche Holding", "Ping An Insurance Group", "Pfizer", "Wells Fargo", "Boeing", "UnitedHealth Group", "Coca-Cola", "PetroChina", "China Mobile", "Agricultural Bank of China", "Comcast", "Merck & Co.", "Oracle", "PepsiCo", "Kweichow Moutai", "Toyota Motor", "Novartis", "HSBC Holdings", "Citigroup", "Netflix"]


generate_date = lambda : fake.date_between(start_date="-5y", end_date="today")
generate_revenus = lambda : np.random.normal(50, 28)
generate_product = lambda: product_names[ random.randint(0, len(product_names) -1) ]
generate_sector = lambda: sectors[ random.randint(0, len(sectors) -1) ]
 
    

rnd_count = 1000000
flat_data = pd.DataFrame()


flat_data['company_name'] = np.random.choice(companies_50, rnd_count)
flat_data['company_id'] = pd.factorize(flat_data['company_name'])[0] + 1



flat_data['country'] = flat_data['company_id'].apply(lambda x: countries[x % len(countries)])
flat_data['sector_name'] = flat_data['company_id'].apply(lambda x: sectors[x % len(sectors)])
flat_data['order_id'] = range(1, len(flat_data)+1)


def generate_revenus(x):
    count_rnd_products = int(np.random.normal(5, 0.5))
    random_products = np.random.choice(product_names, count_rnd_products)
    
    x['product_name'] = np.random.choice(random_products, len(x))
    x['NBI'] = np.random.normal(50, 40, size=len(x))
    x['order_date'] = [ fake.date_between(start_date="-5y", end_date="today" ) for x in range(len(x))]
    
    return x

flat_data = flat_data.groupby('sector_name').apply(generate_revenus)
flat_data.query("country == 'Espagne'").head(5)

,company_name,company_id,country,sector_name,order_id,product_name,NBI,order_date
0,Coca-Cola,1,Espagne,Electrical industry,1,Life and Dammage insurance,84.737934,2018-07-11
7,Bank of America,8,Espagne,Energy industry,8,Asset Servicing,-45.649846,2016-01-25
10,Coca-Cola,1,Espagne,Electrical industry,11,Asset Based Financing,-11.426117,2017-05-31
14,Bank of America,8,Espagne,Energy industry,15,Custody Services,51.438413,2016-09-10
19,PetroChina,15,Espagne,Automotive,20,Equity,148.706513,2018-01-21

In [216]:
#flat_data.groupby('company_name').agg('sector_name').unique()

In [217]:
flat_data.to_csv('../ressources/data/financial_sells_{0}.csv'.format(rnd_count))

In [ ]:
#flat_data.groupby('company_name').agg('NBI').sum().sort_values().plot.bar()