In [2]:
# Pandas
import pandas as pd
from pandas import DataFrame, pivot_table

import datetime as dt
from faker import Faker
fake = Faker()

import numpy as np
import random

In [212]:
 def generate_random_array(n, _fct):
    array = []
    for i in range(n):
        array.append( _fct() )
        
    return pd.Series(array)


 def shake_inputs(n, data):
    array = []
    
    for i in range(n):
        random_pos = np.random.normal(50, 10) 
        random_pos = int( random_pos ) 
    
        array.append( data[ random_pos ] )
        
    return pd.Series(array)

 
countries = ['France', 'Espagne', 'United Kinkdom', 'United State', 'Italy', 'Corse', 'Suisse']
sectors = ['Automotive', 'Electrical industry', 'Chemical Industry', 'Energy industry', 'Metallurgical industry']
product_names = ['ALD Car Renting and Fleet Management',  'Asset Based Financing',  'Asset Management',  'Asset Servicing',  'Clearing Services',  'Commodities',  'Commodity Financing',  'Credit',  'Custody Services',  'Equity',  'Export Finance',  'Financing',  'Forex',  'Fund Administration',  'Fund Distribution Services',  'General Purpose Financing',  'Hybrids',  'International Retail Banking',  'Issuer Services',  'Leverage Finance',  'Life and Dammage insurance',  'Liquidity Management',  'Loans syndication',  'MCIB Financing',  'Mergers and Acquisition',  'Others',  'Prime & Clearing']

generate_date = lambda : fake.date_between(start_date="-5y", end_date="today")
generate_company = lambda : fake.company()
generate_revenus = lambda : np.random.normal(50, 28)
generate_product = lambda: product_names[ random.randint(0, len(product_names) -1) ]
generate_sector = lambda: sectors[ random.randint(0, len(sectors) -1) ]
 
    

rnd_count = 1000000
flat_data = pd.DataFrame()

rnd_companies = generate_random_array(100, generate_company).unique()
flat_data['company_name'] = shake_inputs(rnd_count, rnd_companies)
flat_data['company_id'] = pd.factorize(flat_data['company_name'])[0] + 1



flat_data['country'] = flat_data['company_id'].apply(lambda x: countries[x % len(countries)])
flat_data['sector_name'] = flat_data['company_id'].apply(lambda x: sectors[x % len(sectors)])
flat_data['order_id'] = range(1, len(flat_data)+1)


def generate_revenus(x):
    count_rnd_products = int(np.random.normal(5, 0.5))
    random_products = np.random.choice(product_names, count_rnd_products)
    
    x['product_name'] = np.random.choice(random_products, len(x))
    x['NBI'] = np.random.normal(50, 40, size=len(x))
    x['order_date'] = [ fake.date_between(start_date="-5y", end_date="today" ) for x in range(len(x))]
    
    return x

flat_data = flat_data.groupby('sector_name').apply(generate_revenus)
flat_data.query("country == 'Espagne'").head(5)

,company_name,company_id,country,sector_name,order_id,product_name,NBI,order_date
0,Cline Inc,1,Espagne,Electrical industry,1,Mergers and Acquisition,66.832111,2015-02-01
10,"Lopez, Wilson and Ellison",8,Espagne,Energy industry,11,Liquidity Management,60.268719,2014-11-03
17,"Lopez, Wilson and Ellison",8,Espagne,Energy industry,18,General Purpose Financing,51.321626,2017-09-15
22,Benson-Tucker,15,Espagne,Automotive,23,Clearing Services,45.577882,2017-03-12
36,Reyes-Castillo,22,Espagne,Chemical Industry,37,Life and Dammage insurance,119.244129,2015-05-11

In [ ]:
#flat_data.groupby('company_name').agg('sector_name').unique()

In [ ]:
flat_data.to_csv('../ressources/data/financial_sells_{0}.csv'.format(rnd_count))

In [ ]:
#flat_data.groupby('company_name').agg('NBI').sum().sort_values().plot.bar()